// ------------------------- Colors ----------------------------- //
$primary-color: hsl(180, 66%, 49%);
$primary-color-2: hsl(257, 27%, 26%);

$neutral-0-color: hsl(0, 0%, 100%);
$neutral-200-color: hsl(0, 0%, 75%);
$neutral-400-color: hsl(257, 7%, 63%);
$neutral-700-color: hsl(255, 11%, 22%);
$neutral-800-color: hsl(260, 8%, 14%);
$neutral-900-color: hsl(0, 0%, 0%);
$mobile-menu-overlay-color: hsla(0, 0%, 0%, 0);

$background-color: hsl(225, 33%, 95%);

$error-color: hsl(0, 87%, 67%);

// ------------------------- Typography ----------------------------- //
$font-size: 16px;
$font-size-mobile: 18px;
$primary-font: "Instrument Sans", sans-serif;
$font-weight: 500;
$font-weight-bold: 700;

//------------------------- Breakpoints -----------------------------//
$big-screen-breakpoint: 109.5em; //1752px
$desktop-breakpoint: 86.625rem; //1386px
$desktop-fix-breakpoint: 81.25em; //1300px
$desktop-fix-breakpoint-1: 60.625em; //970px
$mobile-breakpoint: 44.6875em; //715px
$mobile-fix-breakpoint: 26.875em; //430px

//------------------------- Margins -----------------------------//
$main-margin: 1.125rem;

$main-border-radius: 0.5rem;
