@use "../abstracts/index" as a;

.main-page {
  overflow-x: hidden;
}

.about-section {
  padding: var(--page-margin-top) var(--page-margin);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  @include a.responsive(a.$mobile-breakpoint) {
    flex-direction: column-reverse;
    justify-content: baseline;
  }
  &__info {
    margin-left: a.$main-margin;
    margin-top: var(--page-margin-top);
    @include a.responsive(a.$desktop-fix-breakpoint-1) {
      margin-top: 3rem;
    }
    @include a.responsive(a.$mobile-breakpoint) {
      margin-top: 1rem;
    }
  }
  &__title {
    width: 80%;
    text-align: start;
    @include a.responsive(a.$desktop-fix-breakpoint-1) {
      width: 90%;
    }
    @include a.responsive(a.$mobile-breakpoint) {
      text-align: center;
    }
  }
  &__text {
    color: a.$neutral-400-color;
    width: 90%;
    @include a.responsive(a.$mobile-breakpoint) {
      width: 95%;
      margin-top: 2rem;
      text-align: center;
    }
  }
  &__button-box {
    margin-top: var(--page-margin-top);
    @include a.responsive(a.$desktop-fix-breakpoint-1) {
      margin-top: 2.5rem;
    }
    @include a.responsive(a.$mobile-breakpoint) {
      @include a.center-flex;
      margin-left: -1.125rem;
    }
  }
  &__btn {
    width: 11rem;
    height: 2.5rem;
  }
  &__image {
    margin-right: -19rem;
    @include a.responsive(a.$desktop-fix-breakpoint) {
      margin-right: -11rem;
    }
    @include a.responsive(a.$desktop-fix-breakpoint-1) {
      margin-right: -7rem;
    }
    @include a.responsive(a.$mobile-breakpoint) {
      width: 100%;
      margin-right: 0;
      margin-left: 4rem;
    }
    @include a.responsive(a.$mobile-fix-breakpoint) {
      margin-left: 2rem;
    }
  }

  &__img {
    width: 40vw;
    @include a.responsive(a.$big-screen-breakpoint) {
      width: 45vw;
    }
    @include a.responsive(a.$desktop-breakpoint) {
      width: 50vw;
    }
    @include a.responsive(a.$desktop-fix-breakpoint-1) {
      width: 45vw;
    }
    @include a.responsive(a.$mobile-breakpoint) {
      width: 100%;
    }
    @include a.responsive(a.$mobile-fix-breakpoint) {
      width: 125%;
    }
  }
}

.shortener-form {
  background-color: a.$background-color;
  height: 5rem;
  margin-top: var(--page-large-margin-top);
  @include a.center-flex;
  &__shorten-it {
    background-image: linear-gradient(
        rgba(a.$primary-color-2, 0.85),
        rgba(a.$primary-color-2, 0.85)
      ),
      url("../icons/bg-shorten-desktop.svg");
    @include a.bg-image-settings;
    width: 83vw;
    max-width: 84.375rem;
    height: 10rem;
    border-radius: a.$main-border-radius;
    margin-top: -5rem;
    @include a.center-flex;
    justify-content: flex-start;
    padding: 0 3rem;

    @include a.responsive(a.$mobile-breakpoint) {
      background-image: linear-gradient(
          rgba(a.$primary-color-2, 0.85),
          rgba(a.$primary-color-2, 0.85)
        ),
        url("../icons/bg-shorten-mobile.svg");
      flex-direction: column;
      padding: 1rem 2rem;
      padding-left: 2rem;
    }
  }
  &__field {
    width: 95%;
    border-radius: a.$main-border-radius;
    @include a.responsive(a.$mobile-breakpoint) {
      margin: 0;
      padding: 0.5rem;
      width: 101%;
    }
  }
  &__input {
    background-color: a.$neutral-0-color;
    width: 100%;
    height: 3rem;
    position: relative;
    color: a.$neutral-700-color;
    border-radius: a.$main-border-radius;
    border: 2px solid a.$neutral-0-color;
    text-indent: 1rem;

    @include a.responsive(a.$mobile-breakpoint) {
      padding: 0;
      margin: 0;
      margin-top: -0.2rem;
      margin-left: -3px;
    }
    @include a.responsive(24.0625em) {
      text-indent: 0.5rem;
      font-size: 0.9rem;
    }

    &:hover {
      cursor: pointer;
      background-color: a.$background-color;
    }
    &:focus {
      border-color: a.$neutral-700-color;
    }
    &.is-invalid {
      border-color: a.$error-color;
    }
    &.is-invalid::placeholder {
      color: a.$error-color;
    }
  }
  &__error-msg {
    position: absolute;
    margin-top: 0.2rem;
    color: a.$error-color;
    font-size: 0.75rem;
  }
  &__btn {
    width: 9rem;
    height: 3rem;
    margin-left: 3rem;
    @include a.responsive(a.$mobile-breakpoint) {
      width: 97%;
      padding: 0;
      margin: 0;
      margin-top: 0.85rem;
      margin-left: -3px;
    }
  }
}
