@use "../abstracts/index" as a;

.list-style {
  a {
    display: inline-block;
    &:hover {
      cursor: pointer;
      animation: pulse 1.2s ease-in-out infinite;
    }
    &:active {
      animation: clickEffect 0.3s ease;
    }
  }
  &--menu {
    a:hover {
      color: a.$neutral-900-color;
    }
  }
  &--mobile-menu {
    a:hover {
      color: a.$primary-color;
    }
  }

  &--footer {
    a:hover {
      color: a.$primary-color;
    }
  }
}
