@use "../abstracts/index" as a;

.shortened-link {
  @include a.center-flex;
  justify-content: space-between;
  width: 100%;
  &__box {
    width: 83vw;
    max-width: 84.375rem;
    height: 4rem;
    background-color: a.$neutral-0-color;
    border-radius: a.$main-border-radius;
    @include a.center-flex;
    margin-top: 2rem;
    padding: 0 2rem;
  }
  &__original {
    // font-size: clamp(0.75rem, 2vw, 1rem);
  }
  &__copy-box {
    @include a.center-flex;
  }
  &__short {
    margin-right: 1rem;
    color: a.$primary-color;
  }
  &__copy-button {
    width: 6rem;
    height: 2.5rem;
  }
}
