@use "../abstracts/index" as a;

.footer {
  @include a.center-flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  min-height: 20rem;
  background-color: a.$neutral-800-color;
  padding: 3.5rem var(--page-margin);
  @include a.responsive(a.$mobile-breakpoint) {
    padding-bottom: 3rem;
  }
  @include a.responsive(a.$desktop-fix-breakpoint-1) {
    flex-wrap: wrap;
    gap: 5rem;
  }
  @include a.responsive(a.$mobile-breakpoint) {
    width: 100vw;
    display: inline-block;
    text-align: center;
  }
  &__logo {
    color: a.$neutral-0-color;
    @include a.responsive(a.$mobile-breakpoint) {
      margin-bottom: 2rem;
    }
  }
  &__links {
    &--socialmedia {
      @include a.center-flex;
      @include a.responsive(a.$desktop-fix-breakpoint-1) {
        width: 95%;
        margin-left: 0.9rem;
      }
    }
    @include a.responsive(a.$mobile-breakpoint) {
      margin-bottom: 2rem;
    }
  }
  &__item {
    margin-bottom: 0.5rem;
    &:first-child .footer__link {
      color: a.$neutral-0-color;
      margin-bottom: 1rem;
    }
  }
  &__link {
    margin-right: 2rem;

    &:hover .footer__svg {
      fill: a.$primary-color;
    }
    @include a.responsive(a.$mobile-breakpoint) {
      margin-right: 1rem;
    }
  }
  &__img {
    width: 1.8rem;
  }
  &__svg {
    fill: a.$neutral-0-color;
  }
}
